div{
		background-color: red;

}
body{
	background-color: black;
}
h1{
	color: white;
	border: 10px solid white;

}
h2{
	color: white;
}
h3{
	color: white;
}
h4{
	color: white;
}
hr{
	color: white;
}
p{
	font-family: sans-serif;
	color: white;
}


table, th, td, ul{
   border: 1px solid white;
}
