/* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: #b0d7ff;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Main content */
.main {
    margin-top: 200px; /* Add a top margin to avoid content overlay */
    width: 60%;
}

h1 {
    color: black;

}

a {
    color: black;
}